@tailwind base;
@tailwind components;
@tailwind utilities;

p {
  font-size: 16px;
  line-height: 1.6;
}

body {
  contain: paint;
}

.hero-bg {
  background-image: linear-gradient(
      to bottom,
      rgba(46, 204, 113, 0.1),
      transparent
    ),
    url("../public/karnasreefarms-site.webp");
  height: 100%;
  width: 100%;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}

.about-image {
  background-image: url("../public/assets/radici.svg");
  height: 100%;
  width: 100%;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;

  /* Add smooth motion animation */
  animation: moveBackground 1s linear infinite alternate;

  /* Grain effect */
  position: relative;
  overflow: hidden;
}

/* Keyframes for smooth motion */
@keyframes moveBackground {
  0% {
    background-position: top;
  }
  100% {
    background-position: bottom;
  }
}

.features-container {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 800px;
  margin: auto;
}

.features-image {
  background-size: cover;
  background-position: center;
  height: 450px;
  width: 200px;
  border-radius: 16px;
  transition: all 0.4s ease-in-out;
  flex-grow: 1;
  position: relative;
  overflow: hidden;
}

/* Default: Hide text */
.features-image .card {
  opacity: 0;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  transform: translateY(10px);
}

/* Show text on hover */
.features-image:hover .card {
  opacity: 1;
  transform: translateY(0);
}

/* First image is larger by default */
.features-image:first-child {
  width: 300px;
  flex-grow: 2;
}

/* Shrink all images when hovering */
.features-container:hover .features-image {
  width: 200px;
  flex-grow: 1;
}

/* Expand hovered image */
.features-image:hover {
  width: 300px;
  flex-grow: 2;
}

/* Background images */
.features-image:nth-child(1) {
  background-image: url("../public/karnasreefarms-site.webp");
}

.features-image:nth-child(2) {
  background-image: url("../public/assets/lake.webp");
}

.features-image:nth-child(3) {
  background-image: url("../public/assets/airport.webp");
}

.features-image:nth-child(4) {
  background-image: url("../public/assets/villa.webp");
}
